.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
android/.gradle/
ios/Pods/
*.iml
scripts/serviceAccount.json
.firebase/
build/
.dart_tool/
.pub/
node_modules/
.tmp_customer/
.tmp_merchant/
build/

node_modules/
.wrangler/
node_modules/.cache/

